.map-container {
    height: 644px;
    width: 100%;
}

.map {
    height: 100%;
    width: 100%;
}

.navbar-container {
    padding-left: 20px;
    display: flex;
    margin: 0;
    height: 35px;
    align-items: center;
}

.accordion-container {
    position: absolute;
    top: 54px;
    width: 200px;
    left: 2px;
}

.tcinfocard-container {
    position: absolute;
    top: 54px;
    width: 400px;
    right: 2px;
}

.datesearchbar-container {
    padding-left: 160px;
    display: flex;
    padding-right: 15px;
}

.play-bar {
    top: 656px;
    left: 100px;
    right: 280px;
    position: absolute;
    display: flex;
    align-items: center;
}